<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title></title>
        <link rel="stylesheet" href="/stylesheets/profile.css">
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="header_left">
                <div id="logo">
                    <a href="/">
                        <img src="http://placehold.it/220x50">
                    </a>
                </div>
            </div>
            <div id="header_center">
                <div id="find">
                    <form action="search" method="post">
                        <input type="text" name="search" placeholder="search">
                    </form>
                </div>
            </div>
            <div id="header_right">
                <div>
                    <button type="button" id="logout">
                        <img src="/images/logout.png" width="30px">
                    </button>
                </div>
                <div>
                    <button type="button" id="profile">
                        <img src="/images/profile.png" width="30px">
                    </button>
                </div>
                <div>
                    <button type="button" id="people" onclick="location.href='search'">
                        <img src="/images/people.png" width="45px">
                    </button>
                </div>
            </div>
        </header>
        <section>
            <nav>
                <div class="navbutton" onclick="display_Myprofile();">내 프로필</div>
                <div class="navbutton" onclick="display_Subscribe();">구독 수정</div>
                <div class="navbutton" onclick="display_Letterbox();">쪽지함</div>
                <div class="navbutton" onclick="display_Modifyinfo();">정보 수정</div>
                <div class="navbutton" onclick="display_Resign();">회원탈퇴</div>
            </nav>
            <article>
                <!--정보 수정-->
                <div class="myinfo" style="display: flex">
                    <div class="Mypicture">
                        <div class="picture"></div>
                        <div class="picture_modify"><a class="profile_simple_modify">사진 변경</a></div>
                    </div>
                    <div class="info">
                        <table id="infotable">
                            <thead><h3 id="t_head"><%= rows0[0].member_nick %></h3></thead>
                            <tr><td class="t_label">Name</td><td class="t_data"><%= rows0[0].member_name %></td></tr>
                            <tr><td class="t_label">ID</td><td class="t_data"><%= rows0[0].member_id %></td></tr>
                            <tr><td class="t_label">E-mail</td><td class="t_data"><%= rows0[0].member_email %></td></tr>
                            <tr><td class="t_label">Phone</td><td class="t_data"><%= rows0[0].member_phone %></td></tr>
                            <tr><td class="t_label">Message</td><td class="t_data"><%= rows0[0].member_msg %></td></tr>
                        </table>
                        <a class="profile_simple_modify" onclick="modify_personal_msg();">상태메시지 변경</a>
                        <form action="/personalmsg" method="POST" id="modify_personal_msg" style="display: none">
                            <input id = "p_msg_input" type = "text" name = "p_msg">
                            <button class = "modi_confirm"> 변경 </button>
                        </form>
                    </div>
                </div>
                <!--구독 수정-->
                <div class="subscribe" style="display: none">
                <div id="sub_msg">
                    <h1>구독 수정</h1>
                </div>
                <% for (var i=0; i< rows1.length; i++) { %> 
                    <div class="people">
                        <div class="Spicture"></div>
                        <div class="subbox">
                            <div class="nickname"><h1><%= rows1[i].r_id %></h1></div>
                            <div class="realname"><h2><%= rows1[i].r_nick%></h2></div>
                            <form class="mar" action="move_and_remove" method="POST">
                                <input type="text" name="r_id" value="<%= rows1[i].r_id %>">
                                <button class="move" name="move">이동</button>
                                <button class="remove" name="remove">구독 삭제</button>
                            </form>
                        </div>
                    </div>
                    <% } %>
                </div>
                <!--편지 보기-->
                <div class="letter" style="display: none">
                    <div id="let_msg">
                        <h1>쪽지함</h1>
                    </div>
                    <div class="downs">
                        <table class="tables">
                            <th>보낸 사람</th><th>내용</th><th>읽음</th>
                            <% for (var i = 0; i < rows2.length; i++) { %>
                                <input class="pre_nick" type="text" value="<%= rows2[i].s_nick %>">
                                <input class="pre_cont" type="text" value="<%= rows2[i].contents %>">
                                <input class="pre_date" type="text" value="<%= rows2[i].s_date %>">
                                <input class="pre_num" type="text" value="<%= rows2[i].num %>">
                                <tr>
                                    <td><%= rows2[i].s_nick %></td>
                                    <td><%= rows2[i].preveal %>...</td>
                                    <td><%= rows2[i].isRead %></td>
                                    <td style="border: none; background: none;">
                                        <button class="modalcomeon" type="button" value="<%=i%>">읽기</button>
                                    </td>
                                </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
                 <!--회원 정보 수정 -->
                 <div class="modify_info" style="display: none">
                    <div class="modify_info_title">
                        <h1 style="text-align: center">정보 수정</h1>
                    </div>
                    <div class="modify_auth" style="display:block; text-align: center; margin-top: 2px;">
                        <form action="modify" method="POST">
                            <p>본인 확인을 위해 아이디와 비밀번호를 입력해 주십시오.</p>
                            <input class="modi_input" id="modi_id" type="text" name="modi_id" placeholder="ID"></input>
                            <input class="modi_input" id="modi_pw" type="password" name="modi_pw" placeholder="PW"></input>
                            <button class="modi_confirm">회원 확인</button>
                        </form>
                    </div>
                    <div class="remodify" style="display: none; text-align: center;">
                        <form action="remodify" method="POST">
                            <p>변경할 비밀번호 및 이메일과 닉네임, 전화번호를 입력해 주십시오. 변경하지 않은 정보는 그대로 유지됩니다.</p>
                            <input class="modi_input" id="remodi_pw" type="text" name="remodi_pw" placeholder="PW" ></input>
                            <input class="modi_input" id="remodi_nick" type="text" name="remodi_nick" placeholder="Nickname" ></input>
                            <input class="modi_input" id="remodi_email" type="text" name="remodi_email" placeholder="E-Mail" ></input>
                            <input class="modi_input" id="remodi_phone" type="text" name="remodi_phone" placeholder="Phone_No" ></input>
                            <button class="modi_confirm">변경 확인</button>
                        </form>
                    </div>
                </div>
                <!--회원 탈퇴-->
                <div class="resign" style="display: none">
                    <div class="resign_title">
                        <h1 style="text-align: center">회원 탈퇴</h1>
                    </div>
                    <div id="resign_warnings">
                        <h2>회원탈퇴시 유의사항</h2><br>
                        <p>회원을 탈퇴하면 개인 정보는 7일 후에 삭제 되며 다시 로그인을 할 수 없습니다.</p>
                        <p>본 서비스 해지시 클라우드에 업로드된 모든 데이터 및 이용 내역이 삭제되며, 탈퇴후 복구가 불가능합니다.<br>
                        삭제 데이터:클라우드에 업로드된 모든 파일, 서비스 이용 내역(사진, 공유URL, 쪽지, 구독 내용)</p>
                    </div>
                    <form id="resign_confirm" action="/resign" method="POST">
                        <input id="authid" type="text" name="id" placeholder="ID"></input>
                        <input id="authpw" type="password" name="pw" placeholder="PW"></input>
                        <button class="resignbutton">회원 탈퇴</button>
                    </form>
                </div>
            </div>
        </article>
        </section>
        <!--편지 모달 창-->
        <div class="plettle" style="display: none;">
            <div class="modal">
                <button class="modalcomeout" type="button">X</button>
                <div class="upss">
                    <div class="msg_info">
                        <div id="msg_nick"><h1>보내는 사람</h1></div>
                        <div id="date"><h2>받은 날짜 수신</h2></div>
                    </div>
                </div>
                <div class="middle">
                    <form id="msg" action="message" method="post">
                        <textarea id="msg_cont" name="msg_cont" readonly="readonly"></textarea>
                        <input type="text" id="r_nick" name="r_nick" style="display: none;">
                        <input id="msg_reply" class="msgbutton" type="button" value="쪽지 답장">
                        <button id="msg_del" name="msg_del" class="msgbutton">쪽지 삭제</button>
                        <input id="msg_send" type="submit" value="보내기" style="display:none;">
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="/javascripts/profile.js"></script>
    <script> //최초 로딩 완료 후 초기화
        window.onload = Initalize();
    </script>
</html>