<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>My Studio Express</title>
    <link rel="stylesheet" href="/stylesheets/mobile/m_profile.css">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean" rel="stylesheet">
</head>
<body>
    <header>
        <button id="back" onclick="location.href='/mobile/contents'"> Back </button>
        <div id=title>My Journal</div>
        <div id=title2>Express</div>
    </header>
    <section>
        <!--정보 수정-->
        <div id="myprofile" style="display: block">
            <div id="Mypicture">
                <div></div>
            </div>
            <div id="info">
                <table id="infotable">
                    <thead><h3 id="t_head"><%= rows0[0].member_nick %></h3></thead>
                    <tr><td class="t_label">Name</td><td class="t_data"><%= rows0[0].member_name %></td></tr>
                    <tr><td class="t_label">ID</td><td class="t_data"><%= rows0[0].member_id %></td></tr>
                    <tr><td class="t_label">E-mail</td><td class="t_data"><%= rows0[0].member_email %></td></tr>
                    <tr><td class="t_label">Phone</td><td class="t_data"><%= rows0[0].member_phone %></td></tr>
                    <tr><td class="t_label">Message</td><td class="t_data"><%= rows0[0].member_msg %></td></tr>
                </table>
            </div>
        </div>
        <!--구독 수정-->
        <div id="subscribe" style="display: none">
        <div id="sub_msg">
            <h1>구독 수정</h1>
        </div>
        <% for (var i=0; i< rows1.length; i++) { %> 
            <div class="people">
                <div class="subbox">
                    <div>
                        <div class="nickname"><h1><%= rows1[i].r_id %></h1></div>
                        <div class="realname"><h2><%= rows1[i].r_nick%></h2></div>
                    </div>
                    <form class="mar" action="move_and_remove" method="POST">
                        <input type="text" name="r_id" value="<%= rows1[i].r_id%>">
                        <button class="move" name="move">이동</button>
                        <button class="remove" name="remove">구독 삭제</button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
        <!--편지 보기-->
        <div id="letter" style="display: none">
            <div id="let_msg">
                <h1>쪽지함</h1>
            </div>
            <div class="downs">
                <table class="tables">
                    <th>보낸 사람</th><th>내용</th><th>보기</th>
                    <% for (var i = 0; i < rows2.length; i++) { %>
                        <input class="pre_nick" type="text" value="<%= rows2[i].s_nick %>">
                        <input class="pre_cont" type="text" value="<%= rows2[i].contents %>">
                        <input class="pre_date" type="text" value="<%= rows2[i].s_date %>">
                        <input class="pre_num" type="text" value="<%= rows2[i].num %>">
                        <tr>
                            <td><%= rows2[i].s_nick %></td>
                            <td><%= rows2[i].preveal %>...</td>
                            <td style="border: none; background: none;">
                                <button class="modalcomeon" type="button" value="<%=i%>">읽기</button>
                            </td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </section>
    <div id=rooms>
        <button onclick="display_Myprofile();">내 프로필</button>
        <button onclick="display_Subscribe();">구독 수정</button>
        <button onclick="display_Letterbox();">쪽지함</button>
    </div>
    <!--편지 모달 창-->
    <div class="plettle" style="display: none;">
            <div class="modal">
                <button class="modalcomeout" type="button">X</button>
                <div class="upss">
                    <div class="msg_info">
                        <div id="msg_nick"><h1>보내는 사람</h1></div>
                        <div id="date"><h2>받은 날짜 수신</h2></div>
                    </div>
                </div>
                <div class="middle">
                    <form id="msg" action="message" method="post">
                        <textarea id="msg_cont" name="msg_cont" readonly="readonly"></textarea>
                        <input type="text" id="r_nick" name="r_nick" style="display: none;">
                        <input id="msg_reply" class="msgbutton" type="button" value="쪽지 답장">
                        <button id="msg_del" name="msg_del" class="msgbutton">쪽지 삭제</button>
                        <input id="msg_send" type="submit" value="보내기" style="display:none;">
                    </form>
                </div>
            </div>
        </div>
    <script src="/javascripts/mobile/m_profile.js"></script>
</body>
</html>